\docs
\.venv
__pycache__/
validacao.json
verificacao.json
Verificacao_Final.json
AP2/V1/Fontes/
AP1/old/
AP1/scripts/
AP1_IgorRodrigues_Completo_github.zip
AP2 - Auditorio - V1.zip
Auditorio_AP2_Blender.zip
Verificacao_AP1.json
AP2/
AP2.zip
